h1 {
  text-align: center;
}

/* .drop {
  margin-bottom: 1em;
  color: blue;
  padding: 1em;
  text-align: center;
} */
#dropdown-basic-button {
  margin: 2em;
  color: black;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body {
  background-color: antiquewhite;
}

.table {
  margin: 2em
}

.footer {
  text-align: center;
  padding: 1em;
}
.search-input {
  align-items: center;
  margin:2em;
}